# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock
coverage/
packages/http_client_deta_api/test/.test_coverage.dart

# Melos
melos_deta-dart.iml
.idea/
*.iml
